<div>
<h1>Home</h1>
<%= button_to "Connect to Ethereum Network",      ethereum_network_path,     method: "get" %>
<%= button_to "Connect to Binance Exchange",      binance_exchange_path,     method: "get" %>
<%= button_to "Connect to Binance Smart Chain",   binance_smart_chain_path,  method: "get" %>